<div class="alert alert-danger d-flex align-items-center" role="alert">
  <i class="bi bi-exclamation-triangle me-2"></i>
  <div><%= message || 'Imeshindikana kushughulikia ombi lako. Jaribu tena.' %></div>
</div>

<div id="paymentModalFooter" hx-swap-oob="true" class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" onclick="window.location.reload()">
    <i class="bi bi-x-circle"></i> JARIBU TENA
  </button>
</div>
