<!-- Date Navigation -->
<div class="bg-white py-3 border-bottom border-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-auto">
                <div class="btn-group w-100 shadow-sm tgt-Navbtns" role="group">
                    <!-- Jana (Yesterday) Button -->
                    <a href="/utabiri-wa-mechi-za-jana" class="btn <%= activeNav === 'jana' ? 'btn-primary' : 'btn-outline-primary' %> px-3 py-2 flex-fill d-flex align-items-center justify-content-center"
                        style="width: 100px;" onclick="spinNavBtn(event)">
                        <i class="fa-solid fa-circle-arrow-left"></i>
                        <span class="ms-1">Jana</span>
                    </a>

                    <!-- Leo (Today) Button -->
                    <a href="/" class="btn <%= activeNav === 'leo' ? 'btn-primary' : 'btn-outline-primary' %> px-3 py-2 flex-fill d-flex align-items-center justify-content-center"
                        onclick="spinNavBtn(event)">
                        <i class="fa-solid fa-calendar-days"></i>
                        <!-- Desktop: Show full date -->
                        <span class="d-none d-sm-inline ms-1"><%= currentDateFull %></span>
                        <!-- Mobile: Show Leo -->
                        <span class="d-sm-none ms-1">Leo</span>
                    </a>

                    <!-- Kesho (Tomorrow) Button -->
                    <a href="/utabiri-wa-mechi-za-kesho" class="btn <%= activeNav === 'kesho' ? 'btn-primary' : 'btn-outline-primary' %> px-3 py-2 flex-fill d-flex align-items-center justify-content-center"
                        style="width: 100px;" onclick="spinNavBtn(event)">
                        <span class="me-1">Kesho</span>
                        <i class="fa-solid fa-circle-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    
</script>